<div data-w-id="546ed543-2b3c-3b56-61e6-5ce62d65c85c" class="container"><div class="support-top-wrapper"><div class="support-top-left"><div class="eyebrow-text text-align-left">
{{ section.settings.text_text }}
</div>
<h2 class="heading-2-style mobile-heading mobile-heading-2-style text-align-left">
{{ section.settings.text_headline }}
</h2>
</div><div class="support-top-right"></div></div><div class="w-layout-grid lynx-grid-image-left"><div id="w-node-_546ed543-2b3c-3b56-61e6-5ce62d65c865-2d65c85b" class="lynx-block-image-3"><div class="lynx-block-absolute"><div class="lynx-block-icon-heading"><img loading="lazy" src="{{ 'save-plant-icon-3.svg' | asset_url }}" alt="" class="lynx-icon">
<h6 class="lynx-icon-heading">K.E Beauty</h6></div><p class="lynx-paragraph-features">Our products provide nutrient-rich skincare that nourishes and rejuvenates.</p></div><img class="lynx-image-3"
     src="{{ section.settings.image_bild | img_url: 'master' }}"
     alt="{{ section.settings.image_bild.alt }}"
     loading="lazy">
</div><div id="w-node-_546ed543-2b3c-3b56-61e6-5ce62d65c86e-2d65c85b" class="lynx-block-right"><div class="lynx-subtitle-3">
{{ section.settings.text_text_eye }}
</div>
<h2 class="lynx-heading-2">
{{ section.settings.text_headline }}
</h2>
<div class="lynx-check"><img loading="lazy" src="{{ 'Сheck.svg' | asset_url }}" alt="" class="lynx-icon-check">
<div class="lynx-text-check">Provides essential vitamins and antioxidants.</div></div><div class="lynx-check"><img loading="lazy" src="{{ 'Сheck.svg' | asset_url }}" alt="" class="lynx-icon-check">
<div class="lynx-text-check">Promotes a smooth and even complexion.</div></div><div class="lynx-check"><img loading="lazy" src="{{ 'Сheck.svg' | asset_url }}" alt="" class="lynx-icon-check">
<div class="lynx-text-check">Avoids harmful chemicals and synthetic additives.</div></div><div class="lynx-check"><img loading="lazy" src="{{ 'Сheck.svg' | asset_url }}" alt="" class="lynx-icon-check">
<div class="lynx-text-check">Maintains skin’s moisture levels.</div></div></div></div><div class="w-layout-grid grid _3rem-margin"><div id="w-node-_546ed543-2b3c-3b56-61e6-5ce62d65c884-2d65c85b" class="lynx-block-right"><div class="lynx-subtitle-3">
{{ section.settings.text_text_eye_2 }}
</div>
<h2 class="lynx-heading-2">
{{ section.settings.text_headline }}
</h2>
<div class="lynx-check"><img loading="lazy" src="https://uploads-ssl.webflow.com/64f232218d9d2a29dc8ae103/669f0e5f5c1bcbb5de379e09_%D0%A1heck.svg" alt="" class="lynx-icon-check">
<div class="lynx-text-check">Free from animal-derived ingredients.</div></div><div class="lynx-check"><img loading="lazy" src="https://uploads-ssl.webflow.com/64f232218d9d2a29dc8ae103/669f0e5f5c1bcbb5de379e09_%D0%A1heck.svg" alt="" class="lynx-icon-check">
<div class="lynx-text-check">Suitable for sensitive and allergy-prone skin.</div></div><div class="lynx-check"><img loading="lazy" src="https://uploads-ssl.webflow.com/64f232218d9d2a29dc8ae103/669f0e5f5c1bcbb5de379e09_%D0%A1heck.svg" alt="" class="lynx-icon-check">
<div class="lynx-text-check">No animal testing.</div></div><div class="lynx-check"><img loading="lazy" src="https://uploads-ssl.webflow.com/64f232218d9d2a29dc8ae103/669f0e5f5c1bcbb5de379e09_%D0%A1heck.svg" alt="" class="lynx-icon-check">
<div class="lynx-text-check">Gentle, plant-based components.</div></div></div><div id="w-node-_546ed543-2b3c-3b56-61e6-5ce62d65c899-2d65c85b" class="lynx-block-image-3"><div class="lynx-block-absolute v2"><div class="lynx-block-icon-heading"><img loading="lazy" src="{{ 'pigeon-dove-icon-3.svg' | asset_url }}" alt="" class="lynx-icon">
<h6 class="lynx-icon-heading">K.E Beauty</h6></div><p class="lynx-paragraph-features">Our vegan and cruelty-free products ensure ethical, premium quality skincare with exceptional results.</p></div><img class="lynx-image-3"
     src="{{ section.settings.image_bild | img_url: 'master' }}"
     alt="{{ section.settings.image_bild.alt }}"
     loading="lazy">
</div></div><div class="lynx-content-2"></div></div> {% schema %} {"tag":"div","name":"features","class":"support-section","settings":[{"id":"text_text","type":"text","label":"text","default":"How We Do It"},{"id":"text_headline","type":"text","label":"headline","default":"Our Beauty Product Features"},{"id":"image_bild","type":"image_picker","label":"Bild"},{"id":"text_text_eye","type":"text","label":"text-eye","default":"Features"},{"id":"text_text_eye_2","type":"text","label":"text-eye-2","default":"Features"}],"presets":[{"name":"features","category":"Liquify"}]} {% endschema %}