<div class="nav-block"><div class="nav"><a href="{{ routes.root_url }}" li-object:href="routes.root_url" class="brand-2 w-nav-brand"><img loading="lazy" src="{{ 'gf-likes.svg' | asset_url }}" alt="" class="logo">
</a></div><nav role="navigation" class="nav-menu-2 w-nav-menu"><a href="{{ link.url }}" li-object:href="link.url" class="nav-link-2 w-nav-link">Home</a><a href="{{ link.url }}" li-object:href="link.url" class="nav-link-2 w-nav-link">Blog</a><a href="{{ link.url }}" li-object:href="link.url" aria-current="page" class="nav-link-2 w-nav-link w--current">Products</a><a href="{{ link.url }}" li-object:href="link.url" class="nav-link-2 w-nav-link">About Us</a><a href="{{ link.url }}" li-object:href="link.url" class="nav-link-2 w-nav-link">Contact</a></nav><div class="nav"><div class="nav-buttons"><script>
    document.addEventListener('alpine:init', () => {

    Alpine.data('handleMinicart', () => ({
        init() {
            console.log('handleMinicart init')
        },
        open: false,
        note: null,
        attributes: {},
        original_total_price: 0,
        total_price: 0,
        total_discount: 0,
        total_weight: 0.0,
        item_count: 0,
        products: [],
        requires_shipping: false,
        currency: 'EUR',
        items_subtotal_price: 0,
        cart_level_discount_applications: [],
        cartApiResponseDefault : {
            result : {},
            show : false,
            timeout : 5000,
        },
        cartApiResponse : {
            result : {},
            show : false,
            timeout : 5000,
        },

        // deprecated:
        total: {
            items: 0,
            price: 0,
            weight: 0,
            discount: 0,
        },
        _abortController : null,
        initAbortController() {
            if(this._abortController) {
                this._abortController.abort('abort previous request');
            }
            this._abortController = new AbortController()
        },
        getAbortControllerSignal() {
            return this._abortController.signal
        },
        resetAbortController() {
            this._abortController = null;
        },
        toggleMiniCart() {
            console.log('(minicart.js) toggleMiniCart called');

            LiquifyHelper.handleTriggerClick();

            this.getCart();
        },

        /**
         * Get the cart data.
         */
        getCart() {
            this.initAbortController()
            fetch(window.Shopify.routes.root + 'cart.js', {
                method: 'GET',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
            })
            .then(response => response.json())
            .then(data => {
                this.resetAbortController();

                this.total.items = data.item_count;

                this.products = data.items.map((item) => {
                    item.title = this.htmlspecialchars_decode(item.title)
                    return item
                })

                this.total.price = data.total_price;
                this.total.weight = data.total_weight;
                this.total.discount = data.total_discount;

                this.$dispatch('carttotalitems', data.item_count);
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        },

        /**
         * @param id
         * @param quantity
         */
        increaseCartItemQuantity(id, quantity) {
            this.updateCartItemQuantity(id, parseInt(quantity) + 1);
        },

        /**
         * @param id
         * @param quantity
         */
        decreaseCartItemQuantity(id, quantity) {
            this.updateCartItemQuantity(id, parseInt(quantity) - 1);
        },

        /**
         * Update the cart item.
         *
         * @param id
         * @param quantity
         */
        updateCartItemQuantity(id, quantity) {
            this.initAbortController();
            console.log('updateCartItemQuantity(): id, quantity: ', id, quantity);
            this.products.filter((product)  => {
                if(parseInt(product.id) === parseInt(id)) {
                    product.quantity = quantity
                }
            })
            fetch(window.Shopify.routes.root + 'cart/change.js', {
                method: 'POST',
                signal: this.getAbortControllerSignal(),
                headers: {'Content-Type': 'application/json'},
                body: JSON.stringify({
                    id: `${id}`,
                    quantity: quantity,
                }),
            })
                .then(response => response.json())
                .then(data => {
                    this.resetAbortController();
                    console.log('updateCartItemQuantity(): ', data);

                    this.$dispatch('cartupdated');
                    this.$dispatch('showcartmessage', { status: data.status, message: data.message, description: data.description });
                })
                .catch((error) => {
                    console.error('Error:', error);
                    this.$dispatch('showcartmessage', { status: error?.status, message: error, description: error });
                });
        },

        /**
         * Format monetary values.
         */
        moneyFormat(value, minor = true) {
            return LiquifyHelper.moneyFormat(value, minor)
        },

        htmlspecialchars_decode(string) {
            return LiquifyHelper.htmlspecialchars_decode(string)
        },

        /**
         * Shows the minicart api message
         * @param event
         */
        showCartMessage(event) {
            console.log("dispatched showCartMessage", event)
            if(event?.detail?.status) {
                this.cartApiResponse.result = event.detail ?? this.cartApiResponseDefault.result;
                this.cartApiResponse.show = true
                setTimeout(() =>  this.cartApiResponse =  this.cartApiResponseDefault, this.cartApiResponse.timeout ?? 5000)
            }
        },
    }))
});


</script>
<div li-element="mini-cart" x-cloak="" x-data="handleMinicart()" x-init="getCart()" @cartupdated.window="getCart()" @setcartitem.window="updateCartItemQuantity($event.detail.product, $event.detail.quantity)" @increasecartitem.window="increaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @decreasecartitem.window="decreaseCartItemQuantity($event.detail.product, $event.detail.quantity)" @toggleminicart.window="toggleMiniCart()" @showcartmessage.window="showCartMessage"><div data-node-type="commerce-cart-wrapper" li-element="mini-cart-toggle" data-open-product="" data-wf-cart-type="rightSidebar" data-wf-cart-query="" data-wf-page-link-href-prefix="" class="w-commerce-commercecartwrapper cart-menu" @click="$dispatch('cartupdated.window')"><a href="#" data-node-type="commerce-cart-open-link" class="w-commerce-commercecartopenlink cart w-inline-block" role="button" aria-haspopup="dialog" aria-label="Open cart"><img src="{{ 'cart.svg' | asset_url }}" alt="" class="cart-icon">
<div li-element="mini-cart-item-count" class="w-commerce-commercecartopenlinkcount cart-quantity-cart" x-data="{ items: 0 }" x-text="items" @carttotalitems.window="items = event.detail">0</div></a><div data-node-type="commerce-cart-container-wrapper" li-element="mini-cart-container" style="display:none" class="w-commerce-commercecartcontainerwrapper w-commerce-commercecartcontainerwrapper--cartType-rightSidebar" :class="open || 'mini-cart-closed'"><div data-node-type="commerce-cart-container" role="dialog" class="w-commerce-commercecartcontainer"><div bind="b12bd63d-e604-5f03-a6e1-73bd8e058499" class="w-commerce-commercecartheader"><h4 bind="b12bd63d-e604-5f03-a6e1-73bd8e05849a" class="w-commerce-commercecartheading">Your Cart</h4><a href="#" data-node-type="commerce-cart-close-link" li-element="mini-cart-toggle" class="w-commerce-commercecartcloselink w-inline-block" role="button" aria-label="Close cart" @click="$dispatch('cartupdated.window')"><svg width="16px" height="16px" viewbox="0 0 16 16"><g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd"><g fill-rule="nonzero" fill="#333333"><polygon points="6.23223305 8 0.616116524 13.6161165 2.38388348 15.3838835 8 9.76776695 13.6161165 15.3838835 15.3838835 13.6161165 9.76776695 8 15.3838835 2.38388348 13.6161165 0.616116524 8 6.23223305 2.38388348 0.616116524 0.616116524 2.38388348 6.23223305 8"></polygon></g></g></svg></a></div><div bind="b12bd63d-e604-5f03-a6e1-73bd8e05849e" class="w-commerce-commercecartformwrapper"><form data-node-type="commerce-cart-form" bind="b12bd63d-e604-5f03-a6e1-73bd8e05849f" style="display:none" class="w-commerce-commercecartform"><script type="text/x-wf-template" id="wf-template-b12bd63d-e604-5f03-a6e1-73bd8e0584a0"></script><div bind="b12bd63d-e604-5f03-a6e1-73bd8e0584a0" template-bind="b12bd63d-e604-5f03-a6e1-73bd8e0584a0" class="w-commerce-commercecartlist" data-wf-collection="database.commerceOrder.userItems" data-wf-template-id="wf-template-b12bd63d-e604-5f03-a6e1-73bd8e0584a0"></div><div bind="b12bd63d-e604-5f03-a6e1-73bd8e0584b1" class="w-commerce-commercecartfooter"><div aria-live="" aria-atomic="false" bind="b12bd63d-e604-5f03-a6e1-73bd8e0584b2" class="w-commerce-commercecartlineitem"><div>Subtotal</div><div bind="b12bd63d-e604-5f03-a6e1-73bd8e0584b5" class="w-commerce-commercecartordervalue"></div></div><div bind="b12bd63d-e604-5f03-a6e1-73bd8e0584b6"><div data-node-type="commerce-cart-quick-checkout-actions" bind="b12bd63d-e604-5f03-a6e1-73bd8e0584b7"><a role="button" aria-haspopup="dialog" aria-label="Apple Pay" data-node-type="commerce-cart-apple-pay-button" style="background-image:-webkit-named-image(apple-pay-logo-white);background-size:100% 50%;background-position:50% 50%;background-repeat:no-repeat" class="w-commerce-commercecartapplepaybutton" tabindex="0"><div></div></a><a role="button" tabindex="0" aria-haspopup="dialog" data-node-type="commerce-cart-quick-checkout-button" style="display:none" class="w-commerce-commercecartquickcheckoutbutton"><svg class="w-commerce-commercequickcheckoutgoogleicon" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="16" height="16" viewbox="0 0 16 16"><defs><polygon id="google-mark-a" points="0 .329 3.494 .329 3.494 7.649 0 7.649"></polygon><polygon id="google-mark-c" points=".894 0 13.169 0 13.169 6.443 .894 6.443"></polygon></defs><g fill="none" fill-rule="evenodd"><path fill="#4285F4" d="M10.5967,12.0469 L10.5967,14.0649 L13.1167,14.0649 C14.6047,12.6759 15.4577,10.6209 15.4577,8.1779 C15.4577,7.6339 15.4137,7.0889 15.3257,6.5559 L7.8887,6.5559 L7.8887,9.6329 L12.1507,9.6329 C11.9767,10.6119 11.4147,11.4899 10.5967,12.0469"></path><path fill="#34A853" d="M7.8887,16 C10.0137,16 11.8107,15.289 13.1147,14.067 C13.1147,14.066 13.1157,14.065 13.1167,14.064 L10.5967,12.047 C10.5877,12.053 10.5807,12.061 10.5727,12.067 C9.8607,12.556 8.9507,12.833 7.8887,12.833 C5.8577,12.833 4.1387,11.457 3.4937,9.605 L0.8747,9.605 L0.8747,11.648 C2.2197,14.319 4.9287,16 7.8887,16"></path><g transform="translate(0 4)"><mask id="google-mark-b" fill="#fff"><use xlink:href="#google-mark-a"></use></mask><path fill="#FBBC04" d="M3.4639,5.5337 C3.1369,4.5477 3.1359,3.4727 3.4609,2.4757 L3.4639,2.4777 C3.4679,2.4657 3.4749,2.4547 3.4789,2.4427 L3.4939,0.3287 L0.8939,0.3287 C0.8799,0.3577 0.8599,0.3827 0.8459,0.4117 C-0.2821,2.6667 -0.2821,5.3337 0.8459,7.5887 L0.8459,7.5997 C0.8549,7.6167 0.8659,7.6317 0.8749,7.6487 L3.4939,5.6057 C3.4849,5.5807 3.4729,5.5587 3.4639,5.5337" mask="url(#google-mark-b)"></path></g><mask id="google-mark-d" fill="#fff"><use xlink:href="#google-mark-c"></use></mask><path fill="#EA4335" d="M0.894,4.3291 L3.478,6.4431 C4.113,4.5611 5.843,3.1671 7.889,3.1671 C9.018,3.1451 10.102,3.5781 10.912,4.3671 L13.169,2.0781 C11.733,0.7231 9.85,-0.0219 7.889,0.0001 C4.941,0.0001 2.245,1.6791 0.894,4.3291" mask="url(#google-mark-d)"></path></g></svg><svg class="w-commerce-commercequickcheckoutmicrosofticon" xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewbox="0 0 16 16"><g fill="none" fill-rule="evenodd"><polygon fill="#F05022" points="7 7 1 7 1 1 7 1"></polygon><polygon fill="#7DB902" points="15 7 9 7 9 1 15 1"></polygon><polygon fill="#00A4EE" points="7 15 1 15 1 9 7 9"></polygon><polygon fill="#FFB700" points="15 15 9 15 9 9 15 9"></polygon></g></svg><div>Pay with browser.</div></a></div><a href="{{ link.url }}" value="Continue to Checkout" data-node-type="cart-checkout-button" li-object:href="link.url" bind="b12bd63d-e604-5f03-a6e1-73bd8e0584bf" class="w-commerce-commercecartcheckoutbutton btn" data-loading-text="Hang Tight...">Continue to Checkout</a></div></div></form><div bind="b12bd63d-e604-5f03-a6e1-73bd8e0584c0" class="w-commerce-commercecartemptystate"><div>No items found.</div></div><div aria-live="" bind="b12bd63d-e604-5f03-a6e1-73bd8e0584c3" style="display:none" data-node-type="commerce-cart-error" class="w-commerce-commercecarterrorstate alert-wrapper danger"><div bind="b12bd63d-e604-5f03-a6e1-73bd8e0584c4" class="w-cart-error-msg" data-w-cart-quantity-error="Product is not available in this quantity." data-w-cart-general-error="Something went wrong when adding this item to the cart." data-w-cart-checkout-error="Checkout is disabled on this site." data-w-cart-cart_order_min-error="The order minimum was not met. Add more items to your cart to continue." data-w-cart-subscription_error-error="Before you purchase, please use your email invite to verify your address so we can send order updates.">Product is not available in this quantity.</div></div></div></div></div></div></div></div><div class="ke-menu-button w-nav-button"><div bind="027aca83-e568-dbc0-027c-a493751dad99" class="lynx-icon-menu w-icon-nav-menu"></div></div></div></div> {% schema %} {"tag":"div","name":"header","class":"navbar-2 w-nav","presets":[{"name":"header","category":"Liquify"}]} {% endschema %}