<div class="brix---container-default w-container"><div class="w-layout-grid brix---grid-hero-v4"><div data-w-id="11cae280-3c6d-a967-b2eb-9503a8f6d0bb" class="center-align-mobile-flex"><div class="brix---color-neutral-806"><h1 class="heading-1-style mobile-heading-1-style">
{{ section.settings.text_headline }}
</h1>
</div><div class="brix---mg-bottom-40px-4"><div class="brix---color-neutral-815"><p class="paragraph">
{{ section.settings.text_text }}
</p>
</div></div><div class="brix---buttons-row"><div class="ke---button-left"><a class="btn w-button w--current" href="{{ section.settings.url_button_link }}"> {{ section.settings.text_button_text }} </a>
</div><a class="btn-2 w-button" href="{{ section.settings.url_button_link }}"> {{ section.settings.text_button_text }} </a>
</div></div><div data-w-id="11cae280-3c6d-a967-b2eb-9503a8f6d0c9"><img alt="" src="{{ 'Key-Essence-Beauty-Model-19.webp' | asset_url }}" class="brix---border-radius-24px-2">
</div></div></div><div class="brix---bg-split-v4-left"></div><div class="brix---bg-split-v4-right"></div> {% schema %} {"tag":"div","name":"hero","class":"brix---section-hero-v4","settings":[{"id":"text_headline","type":"text","label":"Headline","default":"K.E. Beauty Rejuvenating the Skincare Standard"},{"id":"text_text","type":"text","label":"Text","default":"Explore our selection of premium skincare products, meticulously formulated to provide natural and effective beauty solutions."},{"id":"url_button_link","type":"url","label":"Button-Link"},{"id":"text_button_text","type":"text","label":"Button-Text","default":"Shop Now"}],"presets":[{"name":"hero","category":"Liquify"}]} {% endschema %}